<div class="container pt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <h1>Transactions</h1>
          <%= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary" %>
        </div>
        <hr class="my-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Value</th>
              <th scope="col">Carency</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
            </tr>
          </thead>

          <tbody>
            <% @transactions.each do |transaction| %>
              <tr class="pointer" data-link="<%= transaction_path(transaction) %>">
                <th scope="row"><%= transaction.id %></th>
                <% if transaction.toWallet %>
                  <% if transaction.toWallet.get_user == current_user %>
                    <td><%= transaction.fromWallet ? transaction.fromWallet.bank_account.user.name : nil %></td>
                    <td>You</td>
                    <td class="text-success">+<%= transaction.balance %></td>
                    <td><%= transaction.toWallet.currency.abbreviation %></td>
                  <% else %>
                    <td>You</td>
                    <td><%= transaction.toWallet.get_user.name %></td>
                    <td class="text-danger">-<%= transaction.balance %></td>
                    <td><%= transaction.fromWallet.currency.abbreviation %></td>
                  <% end %>
                <% else %>
                  <td>You</td>
                  <td></td>
                  <td class="text-danger">-<%= transaction.balance %></td>
                  <td><%= transaction.fromWallet.currency.abbreviation %></td>
                <% end %>
                <td><%= transaction.created_at.to_formatted_s(:long) %></td>
                <td><%= transaction.updated_at.to_formatted_s(:long) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
